VITE_APPWRITE_ENDPOINT=https://<REGION>.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=<YOUR_PROJECT_ID>
VITE_APPWRITE_PROJECT_NAME=<YOUR_PROJECT_NAME>
VITE_APPWRITE_DATABASE_ID=<YOUR_DATABASE_ID>
VITE_APPWRITE_TABLE_ID=<YOUR_TABLE_ID>
VITE_APPWRITE_BUCKET_ID=<YOUR_BUCKET_ID>
VITE_APPWRITE_SITE_DOCUMENT_ID=site_content
